<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rustaying">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FoodServiceAdapter" />
        <activity android:name=".FoodServices" />
        <activity android:name=".FoodServiceAdmin" />
        <activity android:name=".FoodServiceActivity" />
        <activity android:name=".CreditActivity" />
        <activity android:name=".CreditInfoActivity" />
        <activity android:name=".HotelData" />
        <activity android:name=".MaintenanceServices" />
        <activity android:name=".AdminServiceList" />
        <activity android:name=".EditInfoActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".KeyCardActivity" />
        <activity android:name=".ValetServices" />
        <activity android:name=".RoomServices" />
        <activity android:name=".RoomServiceAdmin" />
        <activity android:name=".MaintenanceAdmin" />
        <activity android:name=".ValetAdmin" />
        <activity android:name=".BellboyAdmin" />
        <activity android:name=".RoomServiceActivity" />
        <activity android:name=".ValetTravelActivity" />
        <activity android:name=".MaintenanceActivity" />
        <activity android:name=".ViewRooms" />
        <activity android:name=".ViewGuests" />
        <activity android:name=".BellboyServices" />
        <activity android:name=".BellboyActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".CheckInActivity" />
        <activity android:name=".newViewRooms" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ReservationActivity" />
        <activity android:name=".preLoginReservationActivity" />
        <activity android:name=".adminViewRooms" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HotelInfo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>